<h1>Seu pedido na pizzaria MAMA MIA :) </h1>

<p>Cliente: <%= nomeUsuario %></p>
<p>Endereço: <%= endereco %></p>
<p>Sabor: <%= pizzaSabor %></p>
<p>Valor: <%= valorPago %></p>
<p>Tempo de Entrega: <%= tempoEntrega %></p>
